*{
  margin:0;
  padding:0
}
body{
  font-family:Arial
}
h1{
  font-size:20px;
  text-align:center;
  font-weight:100;
  margin-top:20px;
  margin-bottom:25px
}
h3{
  font-size: 16px;
  font-weight: 600;
  margin-bottom:10px;
}
body > main{
  width:640px;
  margin:0 auto;
  padding:0 6%;
  box-sizing:border-box
}
ol{
  margin-bottom:25px
}
ol > li{
  font-size:16px;
  font-weight:600
}
ul{
  list-style:none;
}
li > div{
  padding:10px 0
}
input{
  margin-right:5px;
  margin-bottom:10px;
  /* position:absolute;
  left:-9999px */
}
input:hover{
  cursor:pointer
}
label{
  font-size:14px;
  font-weight:100;
  display:inline-block;
  line-height:0.9
}
/* label:before{
  content:'';
  width:9px;
  height:9px;
  float:left;
  border-width:2px;
  border-style:solid;
  border-color:#000;
  background-color:#CFE2F3;
  margin-right:5px
}
input[type="checkbox"]:checked + label:before{
  border:none;
  width:13px;
  height:13px;
  content:'x';
  text-align:center;
  font-size:14px
} */
button{
  display:block;
  width:290px;
  height:40px;
  border-width:2px;
  border-style:solid;
  border-color:#000;
  background-color:#CFE2F3;
  font-size:14px;
  cursor:pointer;
  margin:0 auto;
  outline:none
}
button:active{
  width:284px;
  height:44px;
  border-width:1px;
  background-color:#fff;
  margin-top:4px;
}
.right{border:1px solid green;margin-bottom:5px}
.error{border:1px solid red;margin-bottom:5px}